body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://i.pinimg.com/564x/c0/90/a9/c090a9d31de5d6d42df558b5dd8d1ab1.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}
video {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header, nav, footer {
    background-color: #f0412d; 
    color: white;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 48px;
    color: #f0ad4e; 
}

nav {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #fca054;
}

main {
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.gallery-item {
    flex-basis: calc(33.33% - 20px);
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.781);
    transition: transform 0.3s ease;
}

.gallery-item img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 8px;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.wishes {
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.wishes h2 {
    color: #d9534f; 
    margin-bottom: 20px;
}

.wishes-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wishes-form label {
    font-size: 16px;
    margin-right: 10px;
}

.wishes-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.wishes-form button {
    background-color: #d9534f;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.feedback {
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.feedback img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.icon {
    font-size: 24px;
    margin-right: 5px;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

button {
    background-color: #d9534f;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: #ea3f3f; 
    padding: 10px 0;
    color: white;
}

h2 {
    font-family: 'Pacifico', 'cursive';
    font-size: 30px;
    margin: 0;
}
h3 {
    font-family: 'Pacifico', 'cursive';
    font-size: 20px;
    margin: 0;
}